{% import "_includes/forms" as forms %}

<div class="readable">
    <blockquote class="note tip">
        <p>
            In Linode Cloud Manager, open your Object Storage bucket and copy the bucket URL.<br>
            The URL will look something like this:<br><br>

            <strong>https://[bucket-name].[region].linodeobjects.com</strong><br><br>

            The API Endpoint is this URL without the bucket name, like this:<br><br>

            <strong>https://[region].linodeobjects.com</strong><br><br>

            The “Region” and “Bucket” settings below are the corresponding <strong>[region]</strong> and <strong>[bucket-name]</strong> values.<br><br>

            To set the “Base URL” above, enable the “Files in this filesystem have public URLs” lightswitch.
            <strong>The value should be the whole bucket URL. Do not add the subfolder from the “Subfolder” setting below if you’ve configured one.</strong>
        </p>
    </blockquote>
</div>

<hr>

{{ forms.autosuggestField({
    label: "API Endpoint"|t('linode-s3'),
    id: 'endpoint',
    class: 'ltr',
    name: 'endpoint',
    suggestEnvVars: true,
    suggestAliases: true,
    value: fs.endpoint,
    errors: fs.getErrors('endpoint'),
    required: true,
    placeholder: "https://eu-central-1.linodeobjects.com"|t('linode-s3')
}) }}

{{ forms.autosuggestField({
    label: "Region"|t('linode-s3'),
    id: 'region',
    class: 'ltr',
    name: 'region',
    suggestEnvVars: true,
    suggestAliases: true,
    value: fs.region,
    errors: fs.getErrors('region'),
    required: true,
    placeholder: "eu-central-1"|t('linode-s3')
}) }}

{{ forms.autosuggestField({
    label: "Bucket"|t('linode-s3'),
    id: 'bucket',
    class: 'ltr',
    name: 'bucket',
    suggestEnvVars: true,
    suggestAliases: true,
    value: fs.bucket,
    errors: fs.getErrors('bucket'),
    required: true,
    placeholder: "your-bucket-name"|t('linode-s3')
}) }}

{{ forms.autosuggestField({
    label: "Subfolder"|t('linode-s3'),
    instructions: "If you want to use a bucket’s subfolder as a filesystem, specify the path to use here."|t('linode-s3'),
    id: 'subfolder',
    class: 'ltr',
    name: 'subfolder',
    suggestEnvVars: true,
    suggestAliases: true,
    value: fs.subfolder,
    errors: fs.getErrors('subfolder'),
    placeholder: "path/to/subfolder"|t('linode-s3')
}) }}

<hr>

<div class="readable">
    <blockquote class="note tip">
        <p>
            Access Key ID and Secret Access Key can be created from Linode Cloud Manager under Object Storage → Access Keys.
        </p>
    </blockquote>
</div>

<hr>

{{ forms.autosuggestField({
    label: "Access Key ID"|t('linode-s3'),
    id: 'keyId',
    class: 'ltr',
    name: 'keyId',
    suggestEnvVars: true,
    suggestAliases: true,
    value: fs.keyId,
    errors: fs.getErrors('keyId'),
    required: true,
}) }}

{{ forms.autosuggestField({
    label: "Secret Access Key"|t('linode-s3'),
    id: 'secret',
    class: 'ltr',
    name: 'secret',
    suggestEnvVars: true,
    suggestAliases: true,
    value: fs.secret,
    errors: fs.getErrors('secret'),
    required: true,
}) }}

<hr>

{% set cacheInput %}
    {% set expires = (fs.expires|length > 0 ? fs.expires|split(' ') : ['', ''])%}

    <div class="flex">
        <div>
            {{ forms.text({
                id: 'expiresAmount',
                value: expires[0],
                size: 2,
                class: 'ls3-expires-amount'
            }) }}
        </div>
        {{ forms.select({
            id: 'expiresPeriod',
            options: periods,
            value: expires[1],
            class: 'ls3-expires-period'
        }) }}
    </div>
    {{ forms.hidden({
        name: "expires",
        value: fs.expires,
        class: "expires-combined"
    }) }}
{% endset %}

{{ forms.field({
    label: "Cache Duration"|t,
    instructions: "The Cache-Control duration that assets should be uploaded to the cloud with.",
    id: 'cacheDuration',
}, cacheInput) }}

{{ forms.selectField({
    label: "Content Disposition"|t,
    instructions: "The Content-Disposition header indicates whether content should be displayed inline in the browser or downloaded and saved locally."|t,
    id: 'contentDisposition',
    name: 'contentDisposition',
    options: contentDispositionOptions,
    value: contentDisposition,
    class: 'ls3-content-disposition'
}) }}

{% do view.registerAssetBundle("mwikala\\linodes3\\LinodeS3Bundle") %}
